/.idea/
/node_modules
/public/hot
/public/storage
# adicionado /public/ ao gitignore 26/junho
/public/
/storage/*.key
# adicionado /storage/debugbar ao gitignore 26/junho
/storage/debugbar 
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

public/js/app\.js
