// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
// @media only screen and (max-width: 767px) {
//   #btn-menu{
//     top: 160px!important;
//   }
//   #sidebar-menu .sidenav.active{
//     top: 190px!important;
//   }
// }

#btn-menu {
  position: fixed;
  top: 82px;
  left: 10px;
  color: black;
  z-index: 1!important;
}

#sidebar-menu .nav-link {
  padding: 10px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: white;
}

#sidebar-menu .sidenav {
  position: fixed;
  width: 190px;
  top: 110px;
  z-index: 1;
  background: #6c757d;
  overflow-x: hidden;
  padding: 8px 0;
  display: none;
}

#sidebar-menu .sidenav.active {
  display: block;
  padding: 0px;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.loader {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
}

.top100 {
  margin-top: 100px !important;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}